$bears_blue: #0B162A;
$bears_orange: #C83803;

$top_play_number_width:25px;
$prob_change_width:80px;

@mixin sans-serif-text($size, $lineHeight:1.3em, $weight:normal){
	font-family:"Arial", sans-serif;
	font-size:$size;
	line-height:$lineHeight;
	font-weight:$weight;
}

@mixin serif-text($size, $lineHeight:1.5em, $weight:normal){
	font-family:"Georgia", serif;
	font-size:$size;
	line-height:$lineHeight;
	font-weight:$weight;
}

@mixin clearfix() {
	&:before{
		content:" ";
		display:table
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.subhead{
	@include sans-serif-text(14px);
	font-style:italic;
}

#biggest-plays{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



.top-play{
	margin-top:7px;
	padding:15px;
	background:#eee;
	// border-bottom:1px solid #aaa;
	width:45%;

	&:last-child{
		padding-bottom:0;
		border-bottom:none;		
	}
}

.top-play__inner{
	margin-left:$top_play_number_width + 15px;
}

.trb_mainContent .top-play__number{
	@include sans-serif-text(14px, 1.3em, bold);
	display:flex;
	align-items:center;
	justify-content:center;
	float:left;

	height:$top_play_number_width;
	width:$top_play_number_width;
	border-radius:50%;
	
	background:$bears_blue;
	color:white;

	font-family:"Arial", sans-serif;
	font-weight:bold;
	font-size:14px;
}

.top-play__topper{
	@include clearfix();
	margin: 0 0 10px 0;

}

.trb_mainContent .top-play__description{
	@include serif-text(16px, 1.3em);
}

.trb_mainContent .top-play__prob-change{
	@include sans-serif-text(24px,1.5em ,bold);
	display: flex;
	align-items:center;
	justify-content:center;
	float:left;

	width:$prob_change_width;
	height:50px;

	background:$bears_blue;
	color:white;
	border-radius:5px;
}



.trb_mainContent .top-play__time,.trb_mainContent .top-play__down-distance{
	@include sans-serif-text(14px);
	margin:0 0 0 ($prob_change_width + 15px);
	max-width:175px;
}

.trb_mainContent .top-play__down-distance{
	padding-top:5px;
	margin-top:5px;
	border-top: 1px dashed #aaa;
}

.trb_mainContent .top-play__score{
	@include sans-serif-text(12px,1.3em, bold);
	color:#aaa;
	text-transform:uppercase;
	margin-top:7px;

	dd, dt{
		margin:0;
	}
}

.trb_mainContent .biggest-header{
	@include serif-text(25px, 1em);
	margin:15px 0 5px 0;
}

.trb_mainContent #biggest-plays-legend {
    margin: 10px 0 40px 0;

	dl{
		@include sans-serif-text(12px, 1em);
		display: flex;
		align-items: center;
		justify-content: flex-start;

		dd{
			margin: 0 15px 0 0;

			&:after{
				content:"";
			}
		}

		dt{
			margin: 0 5px 0 0;
		}
		.box{
			display: inline-block;
			height: 15px;
			width: 15px;
			border-radius:5px;

		}
	}
}
.box--bears-win-prob{
	background-color: $bears_orange;
}

@media all and (max-width: 700px){
	.top-play{
		width:100%;
		border-bottom:1px solid #aaa;
		padding: 0 0 15px 0;
		margin: 0 0 25px 0;
		background: none;

		&:last-child{
			padding-bottom:0;
			border-bottom:none;		
		}
	}
}