{# Override the `container` block to disable default layout. #}
{% block container %}
{% block content %}
    <div style='display:none;visibility:invisible;height:0'>
        {% include 'img/nfl-logos.svg' %}
    </div>
	<div class='graphic-wrapper'>
		{% include "_win-probability.html" %}
	</div>
{% endblock content %}
{% endblock container %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
    <script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
 <script type="text/template" id="tpl-tooltip">
        <dl class="score">
            <dt><%=score.leader.team%></dt>
            <dd><%=score.leaderScore%></dd>
            <dt><%=score.losing.team%></dt>
            <dd><%=score.losingScore%></dd>
        </dl>
        <p class="time-remaining"><%=gameClock%> remaining in <% if (quarter != 'OT') { %><%=quarter%> quarter<% } else { %>overtime<% } %></p>
        <p class="<%=downclass%>"><%=down%> and <%=distance%>, at the <%=sideOfField%> <%=yardline%></p>
        <p><%=play%></p>
        <% if (reversed) { %><p>No play.</p><% } %>
        <% if (prob) { %>
            <dl class="prob">
                <dt><% if (teams.home.team == 'Bears' || teams.away.team == 'Bears') { %>Bears<% } else { %><%= teams.away.team %><% } %> win probability</dt>
                <dd><%=prob%></dd>
            </dl>
        <% } %>
    </script>

    <script type="text/template" id="tpl-gameclock">
        <%= gameClock %> remaining, <% if (period < 5) { %><%= period %>Q<% } else { %>OT<% } %>
    </script>

    <script type="text/template" id="tpl-tinyLogo">
        <svg viewBox="0 0 250 250" class="nfl-logo">
            <use xlink:href="#<%= abbrv %>"></use>
        </svg>
    </script>

<script src="//{{ ROOT_URL }}/js/app.min.js"></script>

<script>
(function(document) {
  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];    
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });

  window.ROOT_URL = "{{ ROOT_URL }}";


  window.gameIntroBlurbs = {
    {%- for game in games|sort(true, attribute='game_number') if game.publish|int == 1  %}
        {{ game.id }}:"{{ game.intro|markdown|e }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  };




})(document);    
</script>
{% endblock scripts %}




{% block opengraph %}
<meta property="og:url" content="http://apps.chicagotribune.com/sports/football/bears/bears-win-probability" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="Win-probability postgame analysis for Chicago Bears" />
<meta property="og:image" content="http://apps.chicagotribune.com/sports/football/bears/bears-win-probability/bug.png" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@chicagotribune">
<meta name="twitter:creator" content="@chitribgraphics">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="Live win-probability tracker for Bears vs. Packers">
<meta name="twitter:image:src" content="http://apps.chicagotribune.com/sports/football/bears/bears-win-probability/bug.png">
{% endblock opengraph %}