<div class="row">
    <div class="lead">
        <aside class='win-prob-explained'>
            <a href='#win-prob-explained'>
                <small>Learn more:</small>
                What is win probability?
            </a>
        </aside>
        {{ intro_part1|markdown }}
        {{ intro_part2|markdown }}
    </div>
    <p id="game-select-container">
        <select id="game-select">
            {%- for game in games|sort(true, attribute='game_number') if game.publish == 1  %}
                {% if game.publish == 1 %}
                    {% set disabled = "" %}
                {% else %}
                    {% set disabled = "disabled" %}
                {% endif %}

                {% if loop.first %}
                    {% set selected = "selected" %}
                {% else %}
                    {% set selected = "" %}
                {% endif %}

                <option {{ disabled }} value="{{ game.id }}" {{ selected }}>Game {{ game.game_number }}: {{ game.menu_text }}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div class="line-score">
    {% include "_line-score.html" %}
</div>
<div class="row">
    <div id="line-chart"></div>
</div>
<div class="row">
        <h2 class='biggest-header'>{{ biggest_plays_head }}</h2>
        <p class='subhead'>{{ biggest_plays_subhead }}</p>
        <div id='biggest-plays-legend'></div>
        <div id='biggest-plays'></div>
</div>
<section id='win-prob-explained'>
    <h2 class='label3'>What is win probability?</h2>
    {{ what_is_win_prob|markdown }}
</section>
<div class="sources">
        {{ sources|markdown }}        
        {{ credits|markdown }}
</div>
</div>
<div id="tooltip"></div>