<div class="row">
    <div class="lead">{{ intro|markdown }}</div>
    <p id="game-select-container">
        <select id="game-select">
            {%- for game in games|sort(false, attribute='game_number') if game.id  %}
                {% if game.publish == 1 %}
                    {% set disabled = "" %}
                {% else %}
                    {% set disabled = "disabled" %}
                {% endif %}

                {% if game.selected == 1 %}
                    {% set selected = "selected" %}
                {% else %}
                    {% set selected = "" %}
                {% endif %}

                <option {{ disabled }} value="{{ game.id }}" {{ selected }}>Game {{ game.game_number }}: {{ game.menu_text }}</option>
            {% endfor %}
        </select>
    </p>
</div>
<div class="line-score">
    {% include "_line-score.html" %}
</div>
<div class="row">
    <div id="line-chart"></div>
</div>
<div class="row">
        <h2 class='biggest-header'>The biggest plays of the game</h2>
        <div id='biggest-plays-legend'></div>
        <div id='biggest-plays'></div>
</div>
<div class="sources">
        {{ sources|markdown }}        
        {{ credits|markdown }}
</div>
</div>
<div id="tooltip"></div>